.site-menu {
  position: fixed;
  left: 0;
  top: 0;
  padding: 120px 40px;
  width: 280px;
  height: calc(100% - 240px);
  font-size: 1.6em;
  perspective: 140px;
  opacity: 0;

  transition: all 1000ms;
}

.--loaded .site-menu {
  opacity: 1;
}

.site-menu__item {
  display: block;
  width: 120px;
  margin-bottom: 1em;
  transition: transform 1000ms;
  animation-timing-function: ease-out;
  transition-delay: 500ms;
  transform: rotateY(0deg);

  &.active {
    color: #fff;
    text-shadow: 0 0 4px #fff;
  }

  &:hover {
    color: #fff;
  }
}

.--loaded .site-menu__item {
  transform: rotateY(2deg);
}
