.site-menu {
  padding: 120px 40px;
  width: 280px;
  height: calc(100% - 240px);
  font-size: 1.6em;
  perspective: 280px;
  opacity: 0;

  transition: all 1000ms;
}

.--loaded .site-menu {
  opacity: 1;
}

.site-menu__item {
  margin-bottom: 1em;
  transition: transform 1000ms;
  transition-delay: 500ms;
  transform: rotateY(0deg);

  &:hover {
    color: #fff;
  }
}

.--loaded .site-menu__item {
  transform: rotateY(2deg);
}
