.widget-pane {
  position: fixed;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  width: 280px;
  height: calc(100% - 2em);
  perspective: 280px;
  padding: 1em 0;
  opacity: 0;
  transition: all 1000ms;
}

.--loaded .widget-pane, .--loaded #location-map {
  opacity: 1;
}

.widget-pane__widget {
  width: 100%;
  transition: transform 1000ms;
  transition-delay: 1000ms;
  animation-timing-function: ease-out;
  margin: 1em;
  transform: rotateY(0deg) translateX(-1em);
}

.--loaded .widget-pane__widget {
  transform: rotateY(-2deg) translateX(-1em);
}

#location-map {
  width: 80%;
  height: 200px;
  padding: 0;
  margin: 0;
  transition: transform 1000ms;
  transition-delay: 1000ms;
  transform: rotateY(0deg) translateX(0);
  border: 2px solid $color-anakiwa-blue;
}

.--loaded #location-map {
  transform: rotateY(-2deg) translateX(0);
}
